
/** Font ****/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Josefin+Sans:wght@400;500;700&family=Roboto+Condensed&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

h1, 
h2,
h3,
h4 {
    font-family: 'Josefin Sans', sans-serif;
}

p {
    font-family: 'Inter', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}


.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 51px 37px 117px;
    background-color: #000;
}

.card-title__wrapper {
    text-align: center;
}


.card-title__wrapper img {
    width: 90px;
    height: 90px;
}

.card-title__wrapper h1 {
    color: #fff;
    font-size: 1.563rem;
    font-weight: 700;
}

.card-input-wrapper input::placeholder {
    color: #8F8F8F;
    font-family: 'Inter', sans-serif;
    height: 118px;
    font-size:1 16px;
    line-height: 18.15px;
    font-weight: 400;

}


.card-input-wrapper .card-input__main #endorsement-input {
    background-color: #444059;
    cursor: pointer;
    width: 100%;
    width: 354px;
    height: 118px;
    border-radius: 8px;
    border: none;
    display: flex;
    justify-content: flex-start;
    resize: none;
    padding: 20px;
    color: #fff;
    font-family: 'Inter', sans-serif;

}

.card-input-wrapper .card-input__names {
    display: flex;
    flex-direction: row;
    gap: 9.29px;
    margin-top: 9px;

}


.card-input-wrapper .card-input__names input {
    background-color: #444059;
    cursor: pointer;
    width: 152.85px;
    padding: 6px 7px;
    border-radius: 8px;
    border: none;
    display: flex;
    justify-content: flex-start;
    resize: none;
    padding: 20px;
    color: #fff;
    font-family: 'Inter', sans-serif;

}



.card-input-wrapper button {
    background-color: #28A9F1;
    padding: 7px 1px;
    font-family: 'Josefin Sans', sans-serif;
    color: #000;
    border-radius: 8px;
    width: 100%;
    margin-top: 9px;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    cursor: pointer;


}


.endorsements-display-wrapper .endorsements-display__title h3 {
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    margin: 24px 0px;
}


.endorsements-display-wrapper .endorsements-display__list-container {
    display: flex;
    flex-direction: column;
    gap: 13px;

}

/*
.endorsements-display-wrapper .endorsements-display__list-container li {
    list-style-type: none;
    background-color: #FFFFFF;
    padding: 13px 14px;
}
*/


.endorsements-display-wrapper .endorsements-display__list-container .endorsements-display__list-desc {
    display: flex;
    flex-direction: column;
    padding: 13px 17px 11px 14px;
    color: #000;
    font-family: 'Inter', sans-serif;
}



.endorsements-display-wrapper .endorsements-display__list-container .endorsements-display__list-desc span {
    font-weight: bold;
}