html, body {
    margin: 0;
    padding: 0;
}


.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 51px 37px 117px;
    background-color: #000;
}

.card-title__wrapper {
    text-align: center;
}


.card-title__wrapper img {
    width: 90px;
    height: 90px;
}

.card-title__wrapper h1 {
    color: #fff;
    font-size: 1.563rem;
}